@import '~antd/dist/antd.css';
h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
/*table{
  width:100%;
  table-layout: fixed;
   background:rgba(40,57,101,.9);
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 15px;
  margin-left: 10px;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
}*/
.btn{
  margin-left: 1500px;
  text-align: center;
  border-radius: 5px;
  color: darkmagenta;
  font-weight: bold;
}
/*td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}*/


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, 	#A9A9A9, #D3D3D3);
  background: linear-gradient(to right, 	#A9A9A9,#D3D3D3);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}

img{
  width:10%;
  height:10%;
}

header {
  padding: 1em;
  color: white;
  clear: left;
  text-align: left;
}

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
